.empty-cart{
    text-align: center;
}
.empty-cart h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 500;
}
.continue-btn {
  padding: 15px 25px;
  color: white;
  background-color: green;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.continue-btn:hover {
  background-color: rgb(20, 162, 20);
}
.full-cart{
    text-align: center;
    
}
.order-image{
    width: 200px;
    height: 150px;
}
.cart-price{
    text-align: center;
    
}

.cart-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    background-color: white;
    padding: 20px 40px;
    margin: 20px auto;
    width: 70%;
    border-radius: 20px;
}
.cart-product h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.cart-product p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.select-quantity{
    display: flex;
    gap: 30px;
    align-items: center;
}

.select-quantity button{
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: white;
    background-color: green;
    transition: background-color 0.3s ease;
    font-weight: 700;
    border: none;
}
.select-quantity button:hover{
    background-color: rgb(20, 162, 20);
}
.select-quantity label{
    font-size: 30px;
}

.remove-btn{
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: white;
    background-color: red;
    font-weight: 700;
    border: none;
}
.remove-btn:hover{
    background-color: rgb(200, 81, 81);
}

.checkout-btn{
  padding: 15px 25px;
  color: white;
  background-color: green;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.checkout-btn:hover {
  background-color: rgb(20, 162, 20);
}